127.0.0.1:3306
{{ semaphore_db_auth_user }}
{{ semaphore_db_auth_password }}
{{ semaphore_db_name }}
{{ semaphore_config_data_dir }}
{{ semaphore_config_web_root }}
no
no
no
yes
{{ semaphore_config_auth_username }}
{{ semaphore_config_auth_email }}
{{ semaphore_config_auth_name }}
{{ semaphore_config_auth_password }}
