{
        "mysql": {
                "host": "127.0.0.1:3306",
                "user": "{{ semaphore_db_auth_user }}",
                "pass": "{{ semaphore_db_auth_password }}",
                "name": "{{ semaphore_db_name }}"
        },
        "port": ":{{ semaphore_port }}",
        "bugsnag_key": "",
        "tmp_path": "{{ semaphore_config_data_dir }}",
        "cookie_hash": "{{ _cookie_hash.stdout }}",
        "cookie_encryption": "{{ _cookie_encryption.stdout }}",
        "email_alert": {{ semaphore_config_email_alerts_enable|bool|lower }},
        "email_sender": "{{ semaphore_config_email_alerts_sender }}",
        "email_host": "{{ semaphore_config_email_alerts_server }}",
        "email_port": "{{ semaphore_config_email_alerts_port }}",
        "web_host": "{{ semaphore_config_web_root }}",
        "ldap_enable": {{ semaphore_config_ldap_enable|bool|lower }},
        "ldap_binddn": "{{ semaphore_config_ldap_bind_dn }}",
        "ldap_bindpassword": "{{ semaphore_config_ldap_bind_password }}",
        "ldap_server": "{{ semaphore_config_ldap_server }}:{{ semaphore_config_ldap_port }}",
        "ldap_needtls": {{ semaphore_config_ldap_use_tls|bool|lower }},
        "ldap_searchdn": "{{ semaphore_config_ldap_search_dn }}",
        "ldap_searchfilter": "{{ semaphore_config_ldap_search_filter }}",
        "ldap_mappings": {
                "dn": "{{ semaphore_config_ldap_mapping_dn_field }}",
                "mail": "{{ semaphore_config_ldap_mapping_email_field }}",
                "uid": "{{ semaphore_config_ldap_mapping_username_field }}",
                "cn": "{{ semaphore_config_ldap_mapping_fullname_field }}"
        },
        "telegram_alert": {{ semaphore_config_telegram_alerts_enable|bool|lower }},
        "telegram_chat": "{{ semaphore_config_telegram_alerts_chat_id }}",
        "telegram_token": "{{ semaphore_config_telegram_alerts_bot_token }}"
}
